# Import the necessary libraries to clean this dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

# Load the dataset into pandas dataframe

In [3]:
df = pd.read_csv(r"C:\Users\hp\Documents\Portfolio Projects\COVID-19\archive\Uncleaned_DS_jobs.csv")

# Display the first and last few rows of the dataset, to have a total view of the dataframe

In [4]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [5]:
df.tail()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

# Find the number of rows and columns for the dataset

In [6]:
df.shape

(672, 15)

# Get some information about the columns of the dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [8]:
df.nunique()

index                672
Job Title            172
Salary Estimate       30
Job Description      489
Rating                32
Company Name         432
Location             207
Headquarters         229
Size                   9
Founded              103
Type of ownership     13
Industry              58
Sector                23
Revenue               14
Competitors          108
dtype: int64

# Let's start cleaning

# 1. Handling missing values

In [9]:
missing = df.isnull().sum()
missing

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

There are no missing values

# Data Type Conversion

In [10]:
data = df.dtypes
data

index                  int64
Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

# Check for columns with categorical variables

In [11]:
categorical_variables = [var for var in df.columns if df[var].dtypes == 'O']
print(categorical_variables)

['Job Title', 'Salary Estimate', 'Job Description', 'Company Name', 'Location', 'Headquarters', 'Size', 'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors']

# Check for columns with numerical variables

In [12]:
numerical_variables = [var for var in df.columns if df[var].dtypes != 'O']
print(numerical_variables)

['index', 'Rating', 'Founded']

# Inspect random rows of categorical variables

In [13]:
RandomColumnValues = df[categorical_variables].sample(50)
RandomColumnValues.T

,320,405,584,153,493,228,501,338,651,161,46,99,357,300,612,329,581,64,348,302,435,656,335,403,578,275,369,472,630,56,459,368,114,398,620,197,625,158,349,562,45,618,534,121,294,91,539,314,330,9
Job Title,Data Scientist,Senior Machine Learning Engineer,Senior Machine Learning Engineer,Sr Scientist - Extractables & Leachables,Data Scientist,Machine Learning Engineer,Data Scientist,Data Scientist,AI Ops Data Scientist,Say Business Data Analyst,Senior Data Scientist,Applied Technology Researcher / Data Scientist,Data Scientist,Data Scientist,Senior Data Scientist,Data Scientist,Enterprise Data Analyst (Enterprise Portfolio ...,Global Data Analyst,Data Scientist,Data Scientist,Data Scientist,Data Scientist,Data Scientist,Sr. Data Analyst,Cloud Data Engineer (Azure),Data Scientist,Data Science Software Engineer,Data Engineer - Kafka,Data Scientist,Senior Data Scientist,Data Scientist,Data Scientist,Data Scientist,Weapons and Sensors Engineer/Scientist,Data Scientist,"Principal Scientist/Associate Director, Qualit...",Data Scientist,Machine Learning Engineer,Data Scientist,Senior Data Scientist,"Computational Scientist, Machine Learning",Data Scientist,Data Scientist,Senior Data Engineer,Data Scientist,Machine Learning Engineer,Data Science Analyst,Senior Data Scientist,Machine Learning Engineer,Data Scientist
Salary Estimate,$145K-$225K(Employer est.),$110K-$163K (Glassdoor est.),$138K-$158K (Glassdoor est.),$90K-$109K (Glassdoor est.),$95K-$119K (Glassdoor est.),$71K-$123K (Glassdoor est.),$95K-$119K (Glassdoor est.),$79K-$147K (Glassdoor est.),$92K-$155K (Glassdoor est.),$101K-$165K (Glassdoor est.),$75K-$131K (Glassdoor est.),$99K-$132K (Glassdoor est.),$122K-$146K (Glassdoor est.),$141K-$225K (Glassdoor est.),$87K-$141K (Glassdoor est.),$79K-$147K (Glassdoor est.),$138K-$158K (Glassdoor est.),$79K-$131K (Glassdoor est.),$122K-$146K (Glassdoor est.),$141K-$225K (Glassdoor est.),$79K-$133K (Glassdoor est.),$105K-$167K (Glassdoor est.),$79K-$147K (Glassdoor est.),$110K-$163K (Glassdoor est.),$138K-$158K (Glassdoor est.),$91K-$150K (Glassdoor est.),$112K-$116K (Glassdoor est.),$31K-$56K (Glassdoor est.),$87K-$141K (Glassdoor est.),$75K-$131K (Glassdoor est.),$69K-$116K (Glassdoor est.),$112K-$116K (Glassdoor est.),$99K-$132K (Glassdoor est.),$110K-$163K (Glassdoor est.),$87K-$141K (Glassdoor est.),$56K-$97K (Glassdoor est.),$87K-$141K (Glassdoor est.),$101K-$165K (Glassdoor est.),$122K-$146K (Glassdoor est.),$128K-$201K (Glassdoor est.),$75K-$131K (Glassdoor est.),$87K-$141K (Glassdoor est.),$66K-$112K (Glassdoor est.),$99K-$132K (Glassdoor est.),$141K-$225K (Glassdoor est.),$79K-$131K (Glassdoor est.),$66K-$112K (Glassdoor est.),$145K-$225K(Employer est.),$79K-$147K (Glassdoor est.),$137K-$171K (Glassdoor est.)
Job Description,"Hello Associates,\n\n*****Greetings from Conch...",We are looking for an experienced engineer wit...,We are looking for an experienced engineer wit...,Sr Scientist - Extractables & Leachables\n\nJo...,About Gap Inc.\n\n\nOur past is full of iconic...,Returning Candidate? Log back in to the Career...,Job Description\nData Scientist\n\nLocation: T...,Work in a fast growing startup with unlimited ...,"Company\n\nAstraZeneca is a global, innovation...",A company built to serve you. It's your career...,Klaviyo is looking for Senior Data Scientists ...,Applied Technology Researcher / Data Scientist...,Job Overview: The Data Scientist is a key memb...,"For more than 30 years, the Virginia Lottery h...","Secure our Nation, Ignite your Future\n\nJob S...",Description:\n\nPosition Requires a Top Secret...,YOUR LIFE'S MISSION: POSSIBLE\n\nYou have goal...,Global Data Analyst\nJob Code\n\n3938\n\nLocat...,Title Data Scientist Location Remote (SFMNAZNY...,Market America- SHOP.COM is seeking a Data Sci...,Job Description\nWe are looking for the sharpe...,Join our team dedicated to developing and exec...,One of the largest health insurers in the nati...,Position Overview:\n\nThe Sr. Data Analyst pla...,YOUR LIFE'S MISSION: POSSIBLE\n\nYou have goal...,Join us and make YOUR mark on the World!\n\nCo...,We love programming and the excitement that co...,Western Digital®\n\nThe next big thing in\ndat...,"eGlobalTech, one of Northern Virginia’s fastes...",Benson Hill empowers innovators to develop mor...,We are looking for a highly motivated data sci...,Job Description\nOur client is committed to un...,Responsibilities\n\n\nAs a data scientist with...,"Position Description\n\n\nDynetics, a wholly o...",Business Unit:\nCubic Transportation Systems\n...,Rubius Therapeutics is a clinical-stage biopha...,Job Description\nTransVoyant is seeking a Data...,Overview\n\nRadical Convergence is a fast-pace...,We are the most sought after hedge fund in New...,Group O is seeking a strong candidate with the...,ROLE SUMMARY\n\nThe Pfizer Simulation and Mode...,Position Description\n\n\nData Scientist\nLoca...,Job Description\nMUST HAVE SECRET CLEARANCE\n\...,About Scoop\n\nScoop brings co-workers and nei...,Title\nData Scientist\n\n04-Jun-2020\n\nAuto r...,"Machine Learning Engineer Springfield, VA\n\nM...",Growth with a Purpose\nOppLoans is a rapidly g...,About Us\n\nOn the off chance you've thought a...,Who Are We?\n\nQinetiQ Inc. is an innovative C...,Ready to write the best chapter of your career...
Company Name,"Conch Technologies, Inc\n4.6",LifeOmic\n5.0,LifeOmic\n5.0,Ritedose\n3.5,Gap Inc.\n3.5,Riverside Research Institute\n3.6,Murray Resources\n4.6,Stride Search,AstraZeneca\n4.0,Shelter Insurance\n4.1,Klaviyo\n4.8,Inter-American Development Bank\n3.5,Hatch Data Inc,State of Virginia\n3.2,ManTech\n4.2,B4Corp,Navy Federal Credit Union\n3.9,Dermalogica\n3.8,"Shimento, Inc.\n2.9",Market America Inc\n4.0,PeopleCom\n5.0,Berico Technologies,Solving IT International Inc\n3.4,Community Behavioral Health\n3.6,Navy Federal Credit Union\n3.9,Lawrence Livermore National Lab\n4.7,Klaviyo\n4.8,Western Digital\n3.5,EGlobalTech\n3.7,Benson Hill\n3.5,Blue Cloak LLC,Compass Consulting Group\n4.7,Noblis\n4.0,Dynetics\n4.0,Cubic\n3.3,Rubius Therapeutics\n3.8,TransVoyant\n3.0,Radical Convergence,Averity\n5.0,Group O\n3.1,Pfizer\n4.1,Axiologic Solutions\n4.5,"MILVETS Systems Technology, Inc.\n3.4",Scoop\n4.7,Colony Brands\n3.7,NuWave Solutions\n4.4,OppLoans\n4.4,Metromile\n3.8,Mteq\n3.7,XSELL Technologies\n3.6
Location,"Concord, CA","Raleigh, NC","Raleigh, NC","Columbia, SC","San Francisco, CA","Beavercreek, OH","The Woodlands, TX","San Francisco, CA","Gaithersburg, MD","Columbia, MO","Boston, MA","Washington, DC","San Francisco, CA","Richmond, VA","Alexandria, VA","Reston, VA","Merrifield, VA","Carson, CA","Santa Clara, CA","Monterey, CA","McLean, VA","Fort Belvoir, VA","Chicago, IL","Philadelphia, PA","Merrifield, VA","Livermore, CA","Boston, MA","San Jose, CA","Arlington, VA","Saint Louis, MO","Sterling, VA","Thousand Oaks, CA","Reston, VA","Huntsville, AL",United States,"Smithfield, RI","Alexandria, VA","Reston, VA","New York, NY","Chicago, IL","Cambridge, MA","Alexandria, VA","Patuxent, Anne Arundel, MD","San Francisco, CA","Monroe, WI","Springfield, VA","Chicago, IL","San Francisco, CA","Fort Belvoir, VA","Chicago, IL"
Headquarters,"Memphis, TN","Indianapolis, IN","Indianapolis, IN","Columbia, SC","San Francisco, CA","Arlington, VA","Houston, TX","Westlake Village, CA","Cambridge, United Kingdom","Columbia, MO","Boston, MA","Washington, DC",-1,"Richmond, VA","Herndon, VA","Leesburg, VA","Vienna, VA","Carson, CA","Benicia, CA","Greensboro, NC","Reston, VA",-1,"Chicago, IL","Phila, PA","Vienna, VA","Livermore, CA","Boston, MA","San Jose, CA","Vienna, VA","Saint Louis, MO",-1,"Danville, CA","Reston, VA","Huntsville, AL","San Diego, CA","Cambridge, MA","Alexandria, VA",-1,"New York, NY","Milan, IL","New York, NY","Fairfax, VA","Orlando, FL","San Francisco, CA","Monroe, WI","Mc Lean, VA","Chicago, IL","San Francisco, CA","Lorton, VA","Chicago, IL"
Size,51 to 200 employees,51 to 200 employees,51 to 200 employees,201 to 500 employees,10000+ employees,501 to 1000 employees,1 to 50 employees,1 to 50 employees,10000+ employees,1001 to 5000 employees,201 to 500 employees,1001 to 5000 employees,-1,10000+ employees,5001 to 10000 employees,51 to 200 employees,10000+ employees,201 to 500 employees,1 to 50 employees,501 to 1000 employees,1 to 50 employees,-1,501 to 1000 employees,201 to 500 employees,10000+ employees,1001 to 5000 employees,201 to 500 employees,10000+ employees,201 to 500 employees,201 to 500 employees,-1,51 to 200 employees,1001 to 5000 employees,1001 to 5000 employees,5001 to 10000 employees,201 to 500 employees,51 to 200 employees,-1,1 to 50 employees,1001 to 5000 employees,10000+ employees,51 to 200 employees,51 to 200 employees,51 to 200 employees,501 to 1000 employees,51 to 200 employees,201 to 500 employees,201 to 500 employees,501 to 1000 employees,51 to 200 employees
Type of ownership,Company - Private,Company - Private,Company - Private,Company - Private,Company - Public,Nonprofit Organization,Company - Private,Company - Private,Company - Public,Company - Private,Company - Private,Other Organization,-1,Government,Company - Public,Company - Private,Other Organization,Subsidiary or Business Segment,Company - Private,Company - Private,Company - Private,-1,Company - Private,Company - Private,Other Organization,Government,Company - Private,Company - Public,Company - Private,Company - Private,-1,Company - Private,Nonprofit Organization,Company - Private,Company - Public,Company - Public,Company - Private,-1,Company - Private,Company - Private,Company - Public,Company - Private,Company - Private,Company - Private,Company - Private,Company - Private,Company - Private,Company - Private,Company - Public,Company - Private
Industry,Consulting,Enterprise Software & Network Solutions,Enterprise Software & Network Solutions,Biotech & Pharmaceuticals,"Department, Clothing, & Shoe Stores",Federal Agencies,Staffing & Outsourcing,-1,Biotech & Pharmaceuticals,Insurance Carriers,Computer Hardware & Software,Banks & Credit Unions,-1,State & Regional Agencies,Research & Development,IT Services,Banks & Credit Unions,Consumer Products Manufacturing,-1,Other Retail Stores,-1,-1,-1,Health Care Services & Hospitals,Banks & Credit Unions,Federal Agencies,Computer Hardware & Software,Computer Hardware & Software,IT Services,Biotech & Pharmaceuticals,-1,Consulting,Consulting,Aerospace & Defense,Aerospace & Defense,Biotech & Pharmaceuticals,Enterprise Software & Network Solutions,-1,Staffing & Outsourcing,Staffing & Outsourcing,Biotech & Pharmaceuticals,Aerospace & Defense,IT Services,Internet,Food & Beverage Stores,IT Services,Lending,Insurance Carriers,Aerospace & Defense,Enterprise Software & Network Solutions
Sector,Business Services,Information Technology,Information Technology,Biotech & Pharmaceuticals,Retail,Government,Business Services,-1,Biotech & Pharmaceuticals,Insurance,Information Technology,Finance,-1,Government,Business Services,Information Technology,Finance,Manufacturing,-1,Retail,-1,-1,-1,Health Care,Finance,Government,Information Technology,Information Technology,Information Technology,Biotech & Pharmaceuticals,-1,Business Services,Business Services,Aerospace & Defense,Aerospace & Defense,Biotech & Pharmaceuticals,Information Technology,-1,Business Services,Business Services,Biotech & Pharmaceuticals,Aerospace & Defense,Information Technology,Information Technology,Retail,Information Technology,Finance,Insurance,Aerospace & Defense,Information Technology
Revenue,$5 to $10 million (USD),Unknown / Non-Applicable,Unknown / Non-Applicable,$100 to $500 million (USD),$10+ billion (USD),$50 to $100 million (USD),$10 to $25 million (USD),Less than $1 million (USD),$10+ billion (USD),$1 to $2 billion (USD),Unknown / Non-Applicable,$10+ billion (USD),-1,$10+ billion (USD),$1 to $2 billion (USD),Unknown / Non-Applicable,Unknown / Non-Applicable,$100 to $500 million (USD),$1 to $5 million (USD),$100 to $500 million (USD),$1 to $5 million (USD),-1,Unknown / Non-Applicable,$500 million to $1 billion (USD),Unknown / Non-Applicable,$1 to $2 billion (USD),Unknown / Non-Applicable,$10+ billion (USD),Unknown / Non-Applicable,$1 to $5 million (USD),-1,Unknown / Non-Applicable,$100 to $500 million (USD),$100 to $500 million (USD),$1 to $2 billion (USD),$100 to $500 million (USD),Unknown / Non-Applicable,-1,Unknown / Non-Applicable,$500 million to $1 billion (USD),$10+ billion (USD),Unknown / Non-Applicable,$25 to $50 million (USD),Unknown / Non-Applicable,$100 to $500 million (USD),$5 to $10 million (USD),$100 to $500 million (USD),Unknown / Non-Applicable,$100 to $500 million (USD),Unknown / Non-Applicable
Competitors,-1,-1,-1,-1,"H&M, Inditex, Fast Retailing",-1,-1,-1,"Roche, GlaxoSmithKline, Novartis",-1,-1,"The World Bank, IMF",-1,-1,-1,-1,-1,"IMAGE Skincare, Aveda, Kiehl's",-1,-1,-1,-1,-1,-1,-1,"Los Alamos National Laboratory, NASA Jet Propu...",-1,"Seagate Technology, Toshiba",-1,-1,-1,-1,"Booz Allen Hamilton, SAIC, LMI",-1,"Accenture, Northrop Grumman, Xerox",-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,"Harris, Fibertek",-1

# Checking for duplicate columns

In [14]:
duplicates = df.duplicated()
print(df[duplicates])

Empty DataFrame
Columns: [index, Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector, Revenue, Competitors]
Index: []

There are no duplicates in the dataset

# Dropping irrelevant columns

In [15]:
# Dropping both index column and Competitors column, because they seem irrelevant and redundant.

df.drop(['index','Competitors'], axis = 1, inplace = True)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

# Removing irregular strings and characters

In [16]:
df['Company Name'] = df['Company Name'].str.strip('\n3.1')
df['Company Name'] = df['Company Name'].str.strip('\n4')
df['Company Name'] = df['Company Name'].str.strip('\n2')
df['Company Name'] = df['Company Name'].str.strip('\n5.0')
df['Company Name'] = df['Company Name'].str.strip('\n3.6')
df['Company Name'] = df['Company Name'].str.strip('\n2.9')
df['Company Name'] = df['Company Name'].str.strip('\n3.8')
df['Company Name'] = df['Company Name'].str.strip('\n4.2')
df['Company Name'] = df['Company Name'].str.strip('\n3.5')
df['Company Name'] = df['Company Name'].str.strip('\n2.7')
df['Company Name'] = df['Company Name'].str.strip('\n4.7')
df['Company Name'] = df['Company Name'].str.strip('\n3.7')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [17]:
df['Salary Estimate'] = df['Salary Estimate'].str.strip('(Glassdoor est.)')
df.head()
df['Salary Estimate'] = df['Salary Estimate'].str.strip('(Employer est.)')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [18]:
df['Rating'] = df['Rating'].replace(-1.0,0)
df.tail(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
662,Data Scientist,$105K-$167K,Solution IT Inc. is looking for an Data Scient...,4.4,"SolutionIT, Inc","Edison, NJ","Wilmington, MA",51 to 200 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
663,Data Scientist,$105K-$167K,Job Description\nEducation and Experience:\nAt...,4.1,A-Line Staffing Solutions,"Durham, NC","Utica, MI",501 to 1000 employees,2004,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
664,Data Scientist,$105K-$167K,Job Description\nClear Ridge has an exciting o...,0.0,Clear Ridge Defense,"Quantico, VA","Baltimore, MD",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
665,Data Scientist,$105K-$167K,Criterion Systems seeks a Data Scientist to su...,3.8,"Criterion Systems, Inc","Vienna, VA","Vienna, VA",201 to 500 employees,2005,Company - Private,IT Services,Information Technology,$50 to $100 million (USD)
666,Data Scientist,$105K-$167K,About Foundation Medicine:\n\nFoundation Medic...,4.0,Foundation Medicine,"Boston, MA","Cambridge, MA",1001 to 5000 employees,2010,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD)
667,Data Scientist,$105K-$167K,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
668,Data Scientist,$105K-$167K,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD)
671,Data Scientist,$105K-$167K,Description\n\nThe Data Scientist will be part...,2.7,-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD)

In [19]:
df.drop(df[df['Founded'] <= -1].index, inplace = True)
df.tail(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
652,Senior Data Scientist,$105K-$167K,"About Us\n\nAt GutCheck, we pioneered agile ma...",3.8,GutCheck,"Denver, CO","Denver, CO",51 to 200 employees,2009,Company - Private,Advertising & Marketing,Business Services,$10 to $25 million (USD)
653,Sr. ML/Data Scientist - AI/NLP/Chatbot,$105K-$167K,Sr. ML/Data Scientist - AI/NLP/Chatbot\n\nMist...,3.8,Juniper Networks,"Cupertino, CA","Sunnyvale, CA",5001 to 10000 employees,1996,Company - Public,Telecommunications Services,Telecommunications,$2 to $5 billion (USD)
654,Data Scientist,$105K-$167K,JOB DESCRIPTION:\n\nHexagon US Federal is look...,2.7,Hexagon US Federal,"Lexington Park, MD","Chantilly, VA",51 to 200 employees,2010,Company - Public,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable
658,Data Scientist,$105K-$167K,The work is in support of targeting and watchl...,3.8,"Aveshka, Inc","Washington, DC","Arlington, VA",51 to 200 employees,2010,Company - Public,IT Services,Information Technology,$10 to $25 million (USD)
659,Data Scientist,$105K-$167K,Position is in support of the U.S. Army CCDC C...,3.2,Perspecta,"Adelphi, MD","Chantilly, VA",10000+ employees,2018,Company - Public,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable
663,Data Scientist,$105K-$167K,Job Description\nEducation and Experience:\nAt...,4.1,A-Line Staffing Solutions,"Durham, NC","Utica, MI",501 to 1000 employees,2004,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable
665,Data Scientist,$105K-$167K,Criterion Systems seeks a Data Scientist to su...,3.8,"Criterion Systems, Inc","Vienna, VA","Vienna, VA",201 to 500 employees,2005,Company - Private,IT Services,Information Technology,$50 to $100 million (USD)
666,Data Scientist,$105K-$167K,About Foundation Medicine:\n\nFoundation Medic...,4.0,Foundation Medicine,"Boston, MA","Cambridge, MA",1001 to 5000 employees,2010,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD)
667,Data Scientist,$105K-$167K,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
671,Data Scientist,$105K-$167K,Description\n\nThe Data Scientist will be part...,2.7,-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD)

In [20]:
df['Size'] = df['Size'].replace(-1,'Unknown')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [21]:
df['Type of ownership'] = df['Type of ownership'].replace(-1,'Unknown')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [22]:
df['Revenue'] = df['Revenue'].replace(-1,'Unknown / Non-Applicable')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

# Creating a new columns called Minimum_Salary and Maximum_Salary

In [23]:
# Minimum_Salary

df['Minimum_Salary'] = df['Salary Estimate'].apply(lambda x: x[1:5])

In [24]:
# Maximum_Salary

df['Maximum_Salary'] = df['Salary Estimate'].apply(lambda x: x[-4:])

In [25]:
df[['Minimum_Salary','Maximum_Salary']].sample(10)

    Minimum_Salary Maximum_Salary
404           110K           163K
344           122K           146K
313           145K           225K
558           128K           201K
349           122K           146K
466           69K-           116K
126           90K-           109K
59            75K-           131K
649           92K-           155K
634           92K-           155K

# Creating a new column called Job_State

In [26]:
#Job_State

def check_location(val):
    if 'Remote' in val:
        return 'Remote'
    elif 'United States' in val:
        return 'US'
    else:
         return val[-3:]

df['Job_State'] = df['Location'].apply(lambda x: check_location(x))

In [27]:
df['Job_State'].sample(10)

105        UT
88         MA
635        CA
199    Remote
180        MD
190        CA
27         MA
101        CO
245        MA
296        NY
Name: Job_State, dtype: object

# Done Cleaning

# Let us review our cleaned dataset

In [28]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Minimum_Salary,Maximum_Salary,Job_State
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137K,171K,NY
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137K,171K,VA
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137K,171K,MA
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137K,171K,MA
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137K,171K,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,Data Scientist,$105K-$167K,Job Description\nEducation and Experience:\nAt...,4.1,A-Line Staffing Solutions,"Durham, NC","Utica, MI",501 to 1000 employees,2004,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,105K,167K,NC
665,Data Scientist,$105K-$167K,Criterion Systems seeks a Data Scientist to su...,3.8,"Criterion Systems, Inc","Vienna, VA","Vienna, VA",201 to 500 employees,2005,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),105K,167K,VA
666,Data Scientist,$105K-$167K,About Foundation Medicine:\n\nFoundation Medic...,4.0,Foundation Medicine,"Boston, MA","Cambridge, MA",1001 to 5000 employees,2010,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),105K,167K,MA
667,Data Scientist,$105K-$167K,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,105K,167K,NJ
671,Data Scientist,$105K-$167K,Description\n\nThe Data Scientist will be part...,2.7,-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),105K,167K,NY